.mine {
  margin-top: 150px;
  margin-left: 8%;
  margin-right: 10%;
  max-width: 529px;
  height: 500px;
}

.h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
}

.mine p {
  font-size: 18px;
  line-height: 140%;
}

.mine input[type='number']::-webkit-inner-spin-button,
.mine input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.blockScroll {
  width: 550px;
  height: 300px;
  overflow-x: hidden;
}

/* .blockScroll ::-webkit-scrollbar {
  background: #757b83;
  border-radius: 10px;
  width: 7px;
} */

.mine ::-webkit-scrollbar {
  width: 12px;
}

/* Track */
.mine ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
.mine ::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #696969;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
.mine ::-webkit-scrollbar-thumb:window-inactive {
  background: #696969;
}

.individualBlockAmount {
  display: flex;
  flex-direction: row;
  margin-bottom: 0px;
  align-items: center;
}

.blockNumber {
  margin-left: 6%;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
}

.mine input {
  width: 396px;
  height: 34px;
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 10px;
  margin-left: 48px;
}

.mine input::placeholder {
  text-align: center;
}

.transactionButton {
  all: unset;
  width: 529px;
  height: 40px;
  background: #000000;
  border-radius: 10px;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  cursor: pointer;
  margin-top: 8px;
}

.progressBar {
  width: 721px;
  height: 16px;
  left: 0px;
  top: 596px;
  background: rgba(0, 0, 0, 0.1);
  margin-top: 180px;
  border-radius: 16px;

  background: linear-gradient(to left, #f5f5f7 50%, #00b9d1 2.5%);
}
