.main {
  margin-top: 312px;
  margin-left: 5%;
  color: #ffffff;
}

.h1 {
  max-width: 528px;

  font-style: normal;
  font-weight: 350;
  font-size: 60px;
  line-height: 130%;
  display: flex;
  align-items: center;
}

.p {
  max-width: 528px;
  font-style: normal;
  font-weight: 350;
  font-size: 24px;
  line-height: 160%;

  display: flex;
  align-items: center;
}

.buttons {
  display: flex;
  flex-direction: row;
}

.buttons div {
  margin-top: 20px;
}

.walletButton {
  all: unset;
  cursor: pointer;
  text-align: center;
  width: 222px;
  height: 57px;
  color: #ffffff;
  background: #000000;
  border-radius: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  text-transform: capitalize;
}

.mobileButton {
  display: none;
}

@media (max-width: 700px) {
  .buttons {
    display: flex;
    flex-direction: column;
  }

  .buttons div {
    padding: 5px;
    margin-botttom: 20px;
  }

  .walletButton {
    background: rgba(0, 0, 0, 0.59);
    width: 164px;
    height: 41px;
  }

  .mobileButton {
    all: unset;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(4px);
    border-radius: 10px;
    text-align: center;
    display: visible;
    width: 310px;
    height: 42px;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
  }
}

@media (max-width: 450px) {
  .main {
    margin-top: 150px;
    margin-left: 5%;
    color: #ffffff;
  }
}

@media (max-width: 340px) {
  .mobileButton {
    width: 295px;
    height: 50px;
  }
}
