.bg {
  background-image: url(/bg/horizontal.svg);
  min-height: 100vh;
  min-height: -webkit-fill-available;
  width: 100vw;
  margin: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}
