.mine {
  margin-top: 100px;
  margin-left: 8%;
  margin-right: 10%;
  max-width: 529px;
}

.h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
}

.mine p {
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
  color: #000000;
}
.mine label {
  margin-left: 2px;
  font-size: small;
}

.buttons {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
.transactionToSend {
  display: flex;
  flex-direction: row;
}

.mine button:hover {
  background: #36454f;
}

.singleBlockButton {
  all: unset;
  width: 256.5px;
  height: 34px;
  background: #000000;
  border-radius: 10px;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  cursor: pointer;
  margin-right: 16px;
}

.multipleBlockButton {
  all: unset;
  width: 256.5px;
  height: 34px;
  background: #000000;
  border-radius: 10px;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  cursor: pointer;
}

.agree {
  list-style-type: none;
}
