/* COMMON */

/* LOGO */
.Logo {
  position: absolute;
  top: 40px;
  left: 125px;
  transform: scale(2.5);
  z-index: 1;
}

.Logo:hover {
  cursor: pointer;
}

/* DEKSTOP NAVIGATION */

.Navigation {
  position: relative;
  top: 21px;
  display: flex;
  font-size: 16px;
  width: 95%;
  transition: 0.5s;
  color: #FFFFFF;
}

.Navigation a {
  margin-right: 25px;

  text-decoration: none;
}

.Navigation div {
  margin-left: auto;
}

.Navigation button {
  display: inline-block;
  width: 90px;
  font-size: medium;
  font-weight: 500;
  padding: 5px;
  color: black;
  background: white;
  border-radius: 10px;
  border: none;
}

.Navigation button:hover {
  cursor: pointer;
}

.Hamburger {
  display: none;
}

/* LIGHT MODE */

.light {
  border-bottom: 1px solid #f0f0ff;
}
.light .Navigation {
  background: white;
}
.light .Navigation a {
  color: #74777d;
}
.light .Navigation a:hover {
  color: #242629;
}

/* DARK MODE */

.dark {
  border-bottom: 1px solid #333333;
}
.dark .Navigation {
  background: black;
}
.dark .Navigation a:hover {
  color: #9146ff;
}
.dark .Logo {
  filter: invert(1);
}
.dark .Navigation a {
  color: #9a9a9a;
}

/* MOBILE NAVIGATION */

.MobileNavigation {
  display: none;
}

@media (max-width: 700px) {
  /* COMMON */
  .Logo {
    transform: scale(1.5);
    left: 40px;
    z-index: 1;
  }

  .Navigation {
    display: none;
  }

  .Hamburger {
    display: flex;
    justify-content: flex-end;
    position: relative;
    cursor: pointer;
    top: 35px;
    right: 25px;
  }

  .MobileNavigation {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 50px;
  }

  .MobileNavigation div {
    text-align: center;
    width: 90vw;
    height: 100vh;
    border-radius: 16px;
  }

  /* LINKS */

  .MobileNavigation a {
    text-decoration: none;
    box-sizing: border-box;
    padding: 7%;
    height: 8%;
    display: flex;
    letter-spacing: 0.1em;
    font-size: larger;
    font-weight: bold;
    margin-top: 17px;
    border-radius: 16px;
    width: 100%;
    align-items: center;
  }

  .MobileNavigation a:nth-child(1) {
    flex-direction: row;
    align-items: center;
  }

  .MobileNavigation a img {
    margin-right: 16px;
  }

  .MobileNavigation button {
    position: relative;
    display: flex;
    font-size: larger;
    top: 30%;
    width: 100%;
    height: 7%;
    justify-content: center;
  }
}