.progressBar {
  all: unset;
  color: white;
  text-align: center;
  white-space: nowrap;
  background: #00b9d1;
  border-radius: 16px;
}
.progressBar div {
  position: relative;
  top: 4px;
}
.progress {
  display: flex;
  height: 30px;
  border-radius: 0.25rem;
  margin-bottom: 24px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 16px;
}
