.redeemStacking {
  margin-top: 169px;
  margin-left: 10%;
  margin-right: 10%;
  max-width: 529px;
}

.h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
}

.redeemStacking p {
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
  color: #000000;
}

.redeemStacking input {
  width: 150px;
  height: 34px;
  margin-top: 15px;
  margin-left: 10px;
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 10px;
  margin-right: 16px;
}

.redeemCycles {
  all: unset;
  width: 500px;
  height: 34px;
  background: black;
  border-radius: 10px;
  color: white;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 5px;
  line-height: 160%;
  text-align: center;
  cursor: pointer;
}
