.redeem {
  margin-top: 169px;
  margin-left: 10%;
  margin-right: 10%;
  max-width: 529px;
}

.h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
}

.redeem p {
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
  color: #000000;
}

.buttons {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.mine button:hover {
  background: #36454f;
}

.redeemStacking {
  all: unset;
  width: 256.5px;
  height: 34px;
  background: #000000;
  border-radius: 10px;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  cursor: pointer;
}

.redeemMining {
  all: unset;
  width: 256.5px;
  height: 34px;
  background: #000000;
  border-radius: 10px;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  cursor: pointer;
  margin-right: 16px;
}
