.redeem {
  margin-top: 169px;
  margin-left: 10%;
  margin-right: 10%;
  max-width: 529px;
}

.h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
}

.redeem p {
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
  color: #000000;
}

.buttons {
  display: flex;
  flex-direction: row;
}

.noStackingRewards {
  all: unset;
  width: 256.5px;
  height: 34px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  cursor: pointer;
  margin-right: 16px;
}

.noMiningRewards {
  all: unset;
  width: 256.5px;
  height: 34px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  cursor: pointer;
}
