.transaction {
    margin-top: 243px;
    margin: auto;
    max-width: 800px;
   }

   .transaction img {
       display: block;
       margin: auto;
           margin-top: 250px;
   }
   
.transaction h2 {
    font-weight: 500;
    font-size: 50px;
    line-height: 130%;  
    text-align: center;
    margin-top: 16px;
}

.transaction a {
    text-decoration: underline;
    
}

.transaction p {
    text-align: center;
}

